{% extends 'bootstrap/base.html' %}

{% block content %}
<div class ="container">
  <div class="row">
    <div class="col">
      <h1>King Gizzard and the Lizard Wizard Discography</h1>
      <img src="static/images/GizzPhoto.jpg" class="img-fluid" alt="Photo of members of King Gizzard and the Lizard Wizard">

      <!-- pairs is a list that must be sent here by a route function-->
     <div class ="row">
       <div class="col-5 mx-auto">
         <h2>Click any album name</h2>
         <ul class="list-group">
           {% for pair in pairs %}
           <li class="list-group-item list-group-item-action"><a href="{{ url_for( 'detail', num=pair[0] ) }}">{{ pair[1] }}</a></li>
           {% endfor %}
         </ul>
       </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
